.stordetailbox{
    background:#f5f8fa;
    .storIcon{
        padding:29rpx 19rpx;
        background:#fff;
        text-align: center;
        padding-bottom:30rpx;
        position: relative;
        .icon{
            width:132rpx;
            height: 132rpx;
            position: relative;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin:auto;
            overflow: hidden;
            border-radius: 50%;
            image{
                width:100%;
                height:100%
            }
        }
        .name{
            font-size:34rpx;
            margin-top: 10rpx;
        }
        .time{
            font-size:22rpx;
            color:#ccc;
            width:240rpx;
            height: 44rpx;
            border-bottom:2rpx solid #f7f7f7;
            display: block;
            margin-top:12rpx;
            position: relative;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin:auto;
        }
        .focusbox{
            position: absolute;
            left:29rpx;
            top:30rpx;
            width:150rpx;
            height:69rpx;
            font-size:24rpx;
            color:#999;
            text{
                color:#666;
            }
            .focus{
                display:block;
                width:130rpx;
                height:50rpx;
                font-size:24rpx;
                color:#ff2f43;
                // background:#ff2f43;
                border:1rpx solid #ff2f43;
                border-radius:30rpx;
                overflow: hidden;
                line-height: 50rpx;
                text-align: center;
                margin-left:10rpx;
                margin-top:10rpx;
            }
            .focus.selector{
                background:#fff;
                color:#666;
                border-radius: 30rpx;
                border:1rpx solid #666;
                box-sizing: border-box;
            }
        }
        .share{
            width:140rpx;
            height:50rpx;
            border:1rpx solid #333;
            border-radius:30rpx;
            overflow: hidden;
            font-size:24rpx;
            position: absolute;
            right:29rpx;
            top:72rpx;
            line-height: 49rpx;
            padding:0;
            background:#fff;
            image{
                width:20rpx;
                height: 20rpx;
                margin-right:8rpx;
            }
        }
    }
    .storIcon1{
        background:#fff;
        padding:29rpx 19rpx 10rpx 19rpx;
        display: flex;
        justify-content: flex-start;
        position: relative;
        .img{
            width:140rpx;
            height:140rpx;
            .icon{
                width:140rpx;
                height: 140rpx;
                overflow: hidden;
                border-radius: 10rpx;
                image{
                    width:100%;
                    height:100%
                }
            }
        }
        .con{
            margin-left:30rpx;
            width:76%;
            display: block;
            .name{
                font-size:34rpx;
            }
            .time{
                font-size:22rpx;
                color:#999;
                width:240rpx;
                height: 44rpx;
                display: block;
                margin-top:10rpx;
            }
        }
        .btnbox{
            width:100%;
            display: flex;
            justify-content: space-between;
            line-height: 50rpx;
            .focusbox{
                width:70%;
                font-size: 24rpx;
                display: block;
                .coll{
                    // width:70%;
                    display: block;
                    margin-top:6rpx;
                }
                text{
                    color:#999;
                    float:left;
                }
                .focus{
                    float:left;
                    width:34rpx;
                    height:34rpx;
                    margin-left: 28rpx;
                    image{
                        width:100%;
                        height:100%;
                    }

                }
            }
            .share{
                width:140rpx;
                height:50rpx;
                border:1rpx solid #eaeaea;
                border-radius:30rpx;
                overflow: hidden;
                font-size:24rpx;
                line-height: 49rpx;
                padding:0;
                background:#fff;
                image{
                    width:20rpx;
                    height: 20rpx;
                    margin-right:8rpx;
                }
            }
        }
       
    }
    .info{
        background:#fff;
        padding:0rpx 19rpx;
        font-size:28rpx;
        color:#999;
        line-height: 60rpx;
        margin-bottom:6rpx;
        padding-bottom:18rpx;
        .phone{
            
            image{
                width:23rpx;
                height:23rpx;
                margin-right:22rpx;
            }
            
        }
        .address{
            display: flex;
            justify-content: space-between;
            image{
                width:25rpx;
                height:25rpx;
                margin-right:22rpx;
            }
        }
    }

    .imgbox{
        padding:0 19rpx;
        background:#fff;
        .title{
            font-size:28rpx;
            color:#999;
            line-height:90rpx;
        }
        .con{
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .img{
                width:224rpx;
                height:224rpx;
                background:grey;
                margin:7rpx;
                // -moz-box-shadow:0px 2px 5px #d1d1d3; -webkit-box-shadow:0px 2px 5px #d1d1d3; box-shadow:0px 2px 5px #d1d1d3;
                border-radius:8rpx;
                overflow: hidden;
                image{
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}


.maximg{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    position: fixed;
    left:0;
    top:0;
    z-index: 3;
    image{
        width:700rpx;
        height:700rpx;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
    }
}


